body {
    position: relative;
    font-family: 'Exo', sans-serif;
    font-size : 13px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div.Flex {
    display: flex;
}

div.Flex.between {
    justify-content: space-between;
}
  
.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.waves {
    position:relative;
    width: 100%;
    height: 1vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    margin-top : -5mm;
    margin-left : -5mm;
}

.waves > svg {
    border-top-left-radius: 5px;
}
  
.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
}

.page {
    width: 210mm;
    min-height: 297mm;
    padding: 5mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    height: 287mm;
    z-index: 1;
    position : relative;
    padding-top : 1mm;
}

div.left {
    padding-right: 10px;
    margin-right: 10px;
    margin-top: auto;
    width: 530px;
    flex-shrink: 0.8;
}

div.logo {
    width: 60px;
    flex-shrink: 0;
    text-align: center;
    margin-bottom: 10px;
    margin-top : 3px;
}

div.icons {
    width: 30px;
}

div.icons.big {
    width: 35px;
}

div.text {
    margin-bottom: 15px;
}

div.nomargin {
    margin: 0;
}

ul {
    list-style-type: "- ";
    padding: 0;
    padding-left: 8px;
    margin: 0;
}

.nomargintop {
    margin-top: 0;
}

.marginbottom {
    margin-bottom: 15px;
}

.center {
    text-align: center;
}

div.comp {
    width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.wrap {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.filler {
    height: 160px;
}

/***************
**** TEXT
***************/

a {
    text-decoration: none;
    color: #000000;
}

h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color : #ffffff;
    font-size: 50px;
    font-variant-caps: petite-caps;
}

h1.poste {
    color: #ffffff;
    font-variant-caps: all-petite-caps;
    font-weight: 500;
    font-size: large;
}

h2 {
    font-size: 17px;
    width: 100%;
    color : #224488;
    padding: 7px 10px 5px 10px;
    border-bottom: #224488 solid 3px;
    font-variant-caps: small-caps;
    font-family: 'Montserrat', sans-serif;
}

div.right h2 {
    text-align: right;
} 

h3 {
    color : #002060;
    margin-bottom: 0;
    font-size: 13px;
}

h3.name {
    color: #ffffff;
    font-size: 15px;
}

h4 {
    font-variant-caps: small-caps;
    font-weight: bold;
    color: #224488;
    margin-bottom: 6px;
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

h4.light {
    color : white;
}

.smaller {
    font-size: 25px;
}

.text h3 {
    font-weight: normal;
    margin: 0;
}

p {
    margin: 0;
    margin-top : 3px;
}

.blue {
    color : #002060;
}

.lightblue {
    color : #c5c9ff;
}

.white {
    color : #ffffff;
    border-left : solid white 2px;
    padding-left: 5px;
}

/***************
**** IMAGES
***************/

img.identite {
    width: 160px;
    display: block;
    margin: -65px 10px 0 auto;
    border-radius: 50%;
}


div.logo img {
    height: auto;
    max-height: 30px;
    max-width: 70%;
}

div.logo img.large {
    max-width: 100%;
}

div.logo img.tall {
    max-height: 35px;
}

div.logo img.small {
    max-height: 25px;
}

div.icons img {
    max-height: 1.8rem;
    max-width: 1.5rem;
    position: relative;
    top: 1px;
/*     filter: drop-shadow(1px 1px 1px #00000040); */
    margin-right: 3px;
}

div.icons.big img {
    max-width: 2.3rem;
    margin-top: 3px;
}

div.comp img {
    width: 95%;
    height: 95%;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;        
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: 0px;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }

    .waves > svg {
        border-top-left-radius: 0px;
    }
}

